
<mat-spinner *ngIf="movies.length === 0"></mat-spinner>
<mat-card class="movie-card" *ngFor="let movie of movies">
    <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
        <div class="container-movie-content">

            <mat-card-content >
                <img style="height:250px; width: 250px;" src="{{ movie.img }}" />
                <div class="container-movie-cast mg-l-20 mg-r-20 txt-l">
                    <h2> Cast </h2>
                    <p> <strong> Director:</strong> {{movie.director}}</p>
                    <p> <strong> Writer:</strong> {{movie.writer}}</p>
                    <p> <strong> Main actors:</strong> <span *ngFor="let actor of movie.actors"> {{actor}} </span></p>
                </div>

                <mat-card-content>
                    <div class="container-movie-details mg-l-20 mg-r-20 txt-l">
                        <h2> Details</h2>
                        <p> <strong>Country: </strong> {{movie.country}}</p>
                        <p> <strong>language: </strong> {{movie.language}}</p>
                        <p> <strong>Duration: </strong> {{movie.runtime}}</p>
                    </div>
                </mat-card-content>

                <mat-card-content>
                    <div class="container-movie-more-details mg-l-20 mg-r-20 txt-l">
                        <h2> Other</h2>
                        <p> <strong>Type: </strong> {{movie.type}}</p>
                        <p> <strong>Year: </strong> {{movie.year}}</p>
                        <p> <strong>Genres: </strong> {{movie.genre}}</p>
                    </div>
                </mat-card-content>

            </mat-card-content>

            <mat-card-content class="mg-l-20">
                    <p> {{movie.plot}}</p>
            </mat-card-content>
        </div>
    <app-comment [movieId]="movie._id"></app-comment>
</mat-card>